
---
applications:
- name: %{app}
  memory: %{memory}m
  random-route: true
  env:
    JBP_LOG_LEVEL: DEBUG
  timeout: 180
  buildpack: java_buildpack
  command: SERVER_PORT=$PORT $PWD/.java-buildpack/open_jdk_jre/bin/java -cp $PWD/.:%{lib}$PWD/.java-buildpack/spring_auto_reconfiguration/spring_auto_reconfiguration-*.jar -Djava.io.tmpdir=$TMPDIR %{opts} -XX:+DisableAttachMechanism -verbose:gc %{main}
